$blanco: #fff;
$negro: #000;
$color-principal: #FF3233;
$color-principalOscuro: #b02121;
$color-secundario: #1f1f1f;
$color-header-texto: #c6c7cc;
$color-terciario: #CEDFD9;
$color-fondo: #fafafa;
$color-letra: #626262;
$fuentePrincipal: 'Fjalla One',
sans-serif;
$fuente: 'Open Sans',
sans-serif;
$fuenteSecundaria: 'PT Sans',
sans-serif;